* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff !important;
	color: #0b132b;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.container {
	max-width: 1536x;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}
section {
	height: 100vh;
	scroll-snap-align: center;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
